<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chating</title>

</head>
<body>
<div>
    <form action="/login" method="post">
        <p>
            <label>姓名:</label>:<input type="text" name="username">
        </p>
        <p>
            <label>密码:</label><input type="password" name="password">
        </p>
        <p>
            <button type="submit">登录</button>
        </p>
    </form>
</div>
</body>

</html>
